* { box-sizing: border-box; }

body {
  font-family: IBM Plex Sans,sans-serif;
  margin: 0;
  padding:0;
  background: #000;
  text-align: center;

}
h1 {
  color: lime;
  font-size: 2em;
  margin:0;
  text-transform: uppercase;
  line-height: 3em;
  text-align: center;        
}
footer {
  color: white;
  padding: .5em 0;
}
footer a {
  color: lime;
}
a { 
  color: black;
  font-weight: bold;
}

.scene {
  margin: 40px 0;
  position: relative;
  width: 30vw;
  height: 20vw;
  margin: 60px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 0;
  padding: 0;
}

.carousel li {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 5%;
  top: 5%;
  transition: transform 1s, opacity 1s;
}
.carousel li img {
    width: 100%;
    display: block;
}
.carousel li:hover a img {
    transform: scale(0.9);
    transition: 400ms;
}

button {
  background: lime;
  border-radius: .5em;
  padding: .5em 1em;
  border: none;
  cursor: pointer;
  margin: 1em;
  font-weight: bold;
  font-size: 1.3em;
  font-family: inherit;
  transition: 400ms;
}
button:hover {
  background: white;
  transition: 400ms;
}
.carousel a {
    display: block;
}
.carousel-options {
  padding: 1em 0;
}
#yt {
    position: absolute;
    top: -100vh;
    z-index: 5;
    transition: 1000ms;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2em;
    padding: 3em 4em;
    border-radius: 1em;
    background-color: rgba(0   , 0, 0, .8); 
}
#yt button {
    position: absolute;
    background: red;
    color: white;
    border: none;
    font-size: 1em;
    padding: .5em 1em;
    cursor: pointer;
    right: 0;
    top: 0em;
}
.chosen #yt {
    top: 30vh;
    transition: 1000ms;
}
.carousel a::before {
    content: 'Click to watch video';
    position: absolute;
    top: -1em;
    font-size: 1.1em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: .5em 0;
    text-align: center;
}
.fade {
border: 2px solid #fff;
padding-bottom: 2em;
position: relative;

}


.fade::before {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  pointer-events: none;
  height:100%;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}
.fade::after {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  pointer-events: none;
  height:100%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}