body {
  background:var(--background);
  color: var(--text);
  font-family: IBM Plex Sans,sans-serif;
  margin: 0;
}

article {
  padding: 0 2em;
  max-width: 40em;
  margin: 0 auto;
}
ul {
  margin: 0 0 2em 0em;
  padding: 0 0 0 .5em;  
}
ul ul {
  margin: 1em 0 1em 1em;
}
ul li {
  list-style: none;
  padding-left: 2em;
  position: relative;
}
ul li:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  top: .1em;
  left: -.5em;
  background-size: contain;
  background-image: url('/assets/images/star.png');
  background-repeat: no-repeat;
}

h1 {
  font-size: 2em;
  font-family: IBM Plex Sans,sans-serif;
  font-weight: normal;
  color: var(--h1colour);
}
h2 {
  margin: 1em 0;
  font-size: 1.5em;
  font-family: IBM Plex Sans,sans-serif;
  font-weight: normal;
  color: var(--h1colour);
}
h3 {
  margin: 1em 0;
  font-size: 1.2em;
  font-family: IBM Plex Sans,sans-serif;
  font-weight: normal;
  color: var(--h1colour);
}
summary h2 {
  display: inline;
  margin: 0;
  padding: 0;
}

details {
  margin: 1em 0;
}

summary {
  cursor: pointer;
  font-size: 1.5em;
  margin-bottom: 1em;
}

footer {
  font-size: .8em;
  padding: 1em 2em;
  margin-top: 5em;
  color: var(--footercolour);
  background: var(--footerbackground);
  border-top: 1px solid var(--footershadow);
}
footer a {
  color: var(--footerlink);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  color: var(--codetext);
  background: var(--codebackground);;
  border: 1px var(--codeborder) solid;
  border-radius: 3px;
  padding: .5em;
}
.highlight .highlight {
  border: none;
  padding: 0;
}
div.highlight {
  padding: 0 .5em;
  overflow: scroll;
}
ol li code {
  color: var(--codetext);
  display: inline-block;
  background: var(--codebackground);;
  border: 1px var(--codeborder) solid;
  border-radius: 3px;
  padding: 2px;
}
a {
  color: var(--link);
  transition: 100ms;
}
a:hover {
  color: var(--linkhover);
  transition: 100ms;
}

header {
  padding: 1em;
}
header img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}
img.small {
  max-width: 20em;
}

p, li {
  line-height: 1.5em;
  padding-bottom: 1em;
}

li::marker {
    font-size:  1.5rem;
}
.back {
  text-align: right;
}
.back a {
  background: var(--link);
  color: var(--background);
  padding: .2em .5em;
  text-decoration: none;
}
