<!DOCTYPE html>
<html lang="en">
<head>
    {% include htmlheader.html %}
</head>
<body class="index">
  <header>
    {% include header.html %}
  </header>
  <article class="standalone">
    {% include detail-summary.html html=content %}



    <h2>Submit your result and apply as a CODE100 Berlin 2024 challenger</h2>

    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "3826440",
        formId: "8764cfeb-c747-4ba0-8101-7b675310d416"
      });
    </script>
    
    <p class="back"><a href="/">Back to all puzzles</a></p>
  </article>
  <footer>
    {% include footer.html %}
  </footer>
  <script src="/assets/scripts.js"></script>
</body>
</html>

